{% extends 'layout.html' %}

{% block body %}

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/" class="logo">
                <span class="symbol"><img src="static/images/logo.svg" alt="" /></span><span class="title">Free Game
                    Notifier</span>
            </a>

        </div>
    </header>



    <!-- Main -->
    <div id="main" style="display: flex;">
        <div class="inner">
            <header>
                <h1>Get notified through text if there are any free games different gaming platforms</h1>
                <p>Platforms incorporated so far: <b>Steam<b></p>
            </header>
            <section class="ltiles">
                <article>
                    <form method="post" action="/signup">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="phone" id="phone" value="" placeholder="123-456-7890" />
                            </div>
                            <div class="col-6 col-12-small">
                                <input type="checkbox" id="steam" name="steam">
                                <label for="steam">Steam</label>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Submit" class="primary" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </article>
            </section>

            <hr>

            <h2>Steam Games</h2>

            <section class="tiles">
                {% for game in free_steam %}
                <article class="style{{ range(1, 7) | random }}">
                    <span class="image">
                        <img src="static/images/pic01.jpg" alt="" />
                    </span>
                    <a href="https://store.steampowered.com/app/{{ game['key'] }}">
                        <h2>{{ game['name'] }}</h2>
                        <div class="content">
                            <p>Free Game</p>
                        </div>
                    </a>
                </article>
                {% endfor %}
            </section>
        </div>
    </div>


</div>

{% endblock %}